* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fafafa;
}

p.register {
  margin-top: 48px;
}

.card {
  background-color: #fff;
  width: 450px;
  height: auto;
  margin: 100px auto;
  padding: 32px 64px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login {
  margin-top: 48px;
  /* background-color: aquamarine; */
  width: 100%;
}

.input-group {
  margin-bottom: 26px;
}

.input-group > label {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.input-group > input {
  font-size: 18px;
  display: block;
  margin-bottom: 16px;
  padding: 12px 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #e2e2e2;
  width: 100%;
}

.input-group > input:focus {
  border: 1.5px solid #02b02a;
}

button.submit {
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  background-color: #02b02a;

  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
  letter-spacing: 2px;
}

button.submit:hover {
  background-color: #4cb464;
}
